
<h1 class="text-3xl font-bold mb-10">Hot Auctions</h1>
<div class="flex items-center justify-between">
    <!--Map featured auctions here-->
    <div class="p-4 bg-stone-100 rounded-xl text-gray-800">
        <div class="font-bold text-2xl text-stone-600 leading-none">Trading indicator</div>
        <div class="mt-2">200+ Bids</div>
        <div class="mt-5 pr-3 pl-3 flex justify-center">
            <a class="inline-flex items-center justify-center py-2 px-3 rounded-xl bg-white text-gray-800 hover:text-green-500 text-sm font-semibold transition shadow-sm" href="/api/auctions/market">
            Bid
            </a>
        </div>
    </div>
    <div class="p-4 bg-stone-100 rounded-xl text-gray-800">
        <div class="font-bold text-2xl text-stone-600 leading-none">Forex Course</div>
        <div class="mt-2">230+ Bids</div>
        <div class="mt-5 flex justify-center">
            <a class="inline-flex items-center justify-center py-2 px-3 rounded-xl bg-white text-gray-800 hover:text-green-500 text-sm font-semibold transition shadow-sm" href="/api/auctions/market">
                Bid
                </a>
        </div>
    </div>
    <div class="p-4 bg-stone-100 rounded-xl text-gray-800">
        <div class="font-bold text-2xl text-stone-600 leading-none">Adobe Exploit</div>
        <div class="mt-2">187+ Bids</div>
        <div class="mt-5 flex justify-center">
            <a class="inline-flex items-center justify-center py-2 px-3 rounded-xl bg-white text-gray-800 hover:text-green-500 text-sm font-semibold transition shadow-sm" href="/api/auctions/market">
                Bid
                </a>
        </div>
    </div>
    <div class="p-4 bg-stone-100 rounded-xl text-gray-800">
        <div class="font-bold text-2xl text-stone-600 leading-none">Office Keys</div>
        <div class="mt-2">187+ Bids</div>
        <div class="mt-5 flex justify-center">
            <a class="inline-flex items-center justify-center py-2 px-3 rounded-xl bg-white text-gray-800 hover:text-green-500 text-sm font-semibold transition shadow-sm" href="/api/auctions/market">
                Bid
                </a>
        </div>
    </div>
</div>

<hr class="my-10">

<div class="grid grid-cols-2 gap-x-20">
    <div>
        <h2 class="text-2xl font-bold mb-4">Monthly stats</h2>

        <div class="grid grid-cols-2 gap-4">
            <div class="col-span-2">
                <div class="p-4 bg-green-100 rounded-xl">
                    <div class="font-bold text-xl text-gray-800 leading-none">Create Auction</div>
                    <div class="mt-5">
                        <a href="/api/property" class="inline-flex items-center justify-center py-2 px-3 rounded-xl bg-white text-gray-800 hover:text-green-500 text-sm font-semibold transition">
                            New
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-4 bg-cyan-100 rounded-xl text-gray-800">
                <div class="font-bold text-2xl leading-none">20</div>
                <div class="mt-2">Items sold</div>
            </div>
            <div class="p-4 bg-cyan-100 rounded-xl text-gray-800">
                <div class="font-bold text-2xl leading-none">12</div>
                <div class="mt-2">Items Bought</div>
            </div>
            <div class="col-span-2">
                <div class="p-4 bg-purple-100 rounded-xl text-gray-800">
                    <div class="font-bold text-xl leading-none">Your Revenue</div>
                    <div class="mt-2">$ 34,043</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 class="text-2xl font-bold mb-4">Sold Products</h2>

        <div class="space-y-4">
            <!--Map sold items here (latest 3)-->
            <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
            <div class="flex justify-between">
                <div class="text-gray-400 text-xs">N10</div>
                <div class="text-gray-400 text-xs">21d</div>
            </div>
            <a href="javascript:void(0)" class="font-bold hover:text-yellow-800 hover:underline">Mandarin Recipe</a>
            <div class="text-sm text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-gray-800 inline align-middle mr-1" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                </svg>Deadline is today
            </div>
            </div>
            <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
            <div class="flex justify-between">
                <div class="text-gray-400 text-xs">Grace Aroma</div>
                <div class="text-gray-400 text-xs">7d</div>
            </div>
            <a href="javascript:void(0)" class="font-bold hover:text-yellow-800 hover:underline">Ancient Map</a>
            <div class="text-sm text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="text-gray-800 inline align-middle mr-1" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                </svg>New feedback
            </div>
            </div>
            <div class="p-4 bg-white border rounded-xl text-gray-800 space-y-2">
            <div class="flex justify-between">
                <div class="text-gray-400 text-xs">Petz App</div>
                <div class="text-gray-400 text-xs">2h</div>
            </div>
            <a href="javascript:void(0)" class="font-bold hover:text-yellow-800 hover:underline">GTA 5 cheats</a>
            </div>
        </div>
    </div>
</div>
